/* Default light theme */
body {
    background-color: #f0f4f8;
    color: #333;
    font-family: Arial, sans-serif;
    padding-top: 60px; /* Adjust based on the height of the title bar */
    padding-bottom: 124px; /* Ensure space for the footer */
}

/* Dark theme */
body.dark-theme {
    background-color: #1e1e2f;
    color: #f0f4f8; /* Light text color for dark theme */
}

body.dark-theme .status-box {
    background-color: #2d2d44;
    color: #f0f4f8; /* Light text color for dark theme */
}

body.dark-theme .status-up {
    background-color: #2d2d44;
    color: white;
}

body.dark-theme .status-down {
    /* background-color: #dc3545; */
    color: white;
}

.ping-log-container {
    max-height: 250px;
    overflow-y: auto;
    display: flex;
    align-items: flex-end;
    height: 100px; /* Adjust height as needed */
    overflow-x: hidden; /* Disable horizontal scrollbar */
    overflow-y: visible; /* Ensure tooltips are visible */
    flex-direction: row-reverse; /* Display ping logs from right to left */
}

body.dark-theme .ping-log-item {
    background-color: #3a3a55;
    color: #f0f4f8; /* Light text color for dark theme */
    border: 1px solid #444c6a;
}

body.dark-theme .accordion-button {
    background-color: #2d2d44;
    color: #f0f4f8; /* Light text color for dark theme */
    border: 1px solid #3a3a55;
}

body.dark-theme .accordion-button:not(.collapsed) {
    background-color: #2d2d44;
    color: white;
}

body.dark-theme .accordion-button:focus {
    border-color: #33334b;
}

body.dark-theme .ping-log-item .badge.bg-success {
    background-color: #28a745;
}

body.dark-theme .ping-log-item .badge.bg-danger {
    background-color: #dc3545;
}

body.dark-theme footer {
    background-color: #1c1c2e;
    color: #f0f4f8; /* Light text color for dark theme */
}

body.dark-theme .card-body {
    color: #f0f4f8; /* Light text color for dark theme */
    background-color: #2d2d44; /* Dark background for card body */
}

body.dark-theme .form-control {
    background-color: #3a3a55; /* Dark background for form control */
    color: #f0f4f8; /* Light text color for form control */
    border: 1px solid #444c6a; /* Border color for form control */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to textboxes */
}

body.dark-theme .form-control::placeholder {
    color: #b0b3c5; /* Placeholder text color */
}

body.dark-theme .btn-primary {
    background-color: #007bff; /* Primary button background color */
    border-color: #007bff; /* Primary button border color */
}

body.dark-theme .btn-primary:hover {
    background-color: #0056b3; /* Primary button hover background color */
    border-color: #0056b3; /* Primary button hover border color */
}

body.dark-theme .card-title {
    color: #f0f4f8; /* Light text color for dark theme */
}

body.dark-theme .title-bar {
    background-color: #2d2d44; /* Darker background color for dark theme */
}

body.dark-theme .ping-log-item .badge.bg-success {
    background-color: #28a745;
}

body.dark-theme .ping-log-item .badge.bg-danger {
    background-color: #dc3545;
}

body.dark-theme footer {
    background-color: #1c1c2e;
    color: #6c757d;
}

body.dark-theme .card-body {
    color: #f0f4f8;
    background-color: #2d2d44; /* Dark background for card body */
}

body.dark-theme .form-control {
    background-color: #3a3a55; /* Dark background for form control */
    color: #f0f4f8; /* Light text color for form control */
    border: 1px solid #444c6a; /* Border color for form control */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to textboxes */
}

body.dark-theme .form-control::placeholder {
    color: #b0b3c5; /* Placeholder text color */
}

body.dark-theme .btn-primary {
    background-color: #007bff; /* Primary button background color */
    border-color: #007bff; /* Primary button border color */
}

body.dark-theme .btn-primary:hover {
    background-color: #0056b3; /* Primary button hover background color */
    border-color: #0056b3; /* Primary button hover border color */
}

body.dark-theme .card-title {
    color: #f0f4f8;
}

body.dark-theme .title-bar {
    background-color: #2d2d44; /* Darker background color for dark theme */
}

/* Button customizations for dark theme */
button.btn-info, button.btn-warning, button.btn-success {
    background-color: #6c757d;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to Telnet button */
}

button.btn-info:hover, button.btn-warning:hover, button.btn-success:hover {
    background-color: #5a6268;
}

/* Light Theme Styles (Default) */
body:not(.dark-theme) {
    background-color: #f8f9fa;
    color: #212529;
}

body:not(.dark-theme) .status-box {
    background-color: #ffffff;
    color: #212529;
}

body:not(.dark-theme) .status-up {
    background-color: #6c757d;
    color: white;
}

body:not(.dark-theme) .status-down {
    background-color: #dc3545;
    color: white;
}

body:not(.dark-theme) .ping-log-item {
    background-color: #6c757d;
    color: #f0f4f8;
    border: 1px solid #f0f4f8;
}

body:not(.dark-theme) .accordion-button {
    background-color: #ffffff;
    color: #212529;
    border: 1px solid #f0f4f8;
}

body:not(.dark-theme) .accordion-button:not(.collapsed) {
    background-color: #6c757d;
    color: yellow;
}

body:not(.dark-theme) .accordion-button:focus {
    border-color: #6c757d;
}

body:not(.dark-theme) footer {
    background-color: #212529;
    color: yellow;
}

body:not(.dark-theme) .card-body {
    color: yellow;
    background-color: #212529; /* Light background for card body */
}

body:not(.dark-theme) .form-control {
    background-color: #ffffff; /* Light background for form control */
    color: #212529; /* Dark text color for form control */
    border: 1px solid #ced4da; /* Border color for form control */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to textboxes */
}

body:not(.dark-theme) .form-control::placeholder {
    color: #6c757d; /* Placeholder text color */
}

body:not(.dark-theme) .btn-primary {
    background-color: #007bff; /* Primary button background color */
    border-color: #007bff; /* Primary button border color */
}

body:not(.dark-theme) .btn-primary:hover {
    background-color: #0056b3; /* Primary button hover background color */
    border-color: #0056b3; /* Primary button hover border color */
}

body:not(.dark-theme) .card-title {
    color: yellow;
}

body:not(.dark-theme) .title-bar {
    background-color: #f8f9fa; /* Light background color for light theme */
}

/* Button customizations for light theme */
body:not(.dark-theme) button.btn-info, 
body:not(.dark-theme) button.btn-warning, 
body:not(.dark-theme) button.btn-success {
    background-color: #ffffff;
    color: #212529;
    border: 1px solid #ced4da;
}

body:not(.dark-theme) button.btn-info:hover, 
body:not(.dark-theme) button.btn-warning:hover, 
body:not(.dark-theme) button.btn-success:hover {
    background-color: #e2e6ea;
}

/* Light theme */
body.light-theme {
    background-color: #f8f9fa; /* Light background color */
    color: #212529; /* Dark text color */
}

.card.light-theme {
    background-color: #ffffff; /* White card background */
    color: #212529; /* Dark text color */
}

.btn-light-theme {
    background-color: #ffffff; /* White button background */
    color: #212529; /* Dark text color */
    border-color: #ced4da; /* Light border color */
}

.status-box.light-theme {
    background-color: #ffffff; /* White status box background */
    color: #212529; /* Dark text color */
}

.status-badge.light-theme {
    background-color: #28a745; /* Green badge for "Up" status */
    color: #ffffff; /* White text color */
}

.status-badge.light-theme.bg-danger {
    background-color: #dc3545; /* Red badge for "Down" status */
    color: #ffffff; /* White text color */
}

/* Black-Yellow Theme */
body.black-yellow-theme {
    background-color: #000000; /* Black background color */
    color: #f0b90b; /* Yellow text color */
}

.card.black-yellow-theme {
    background-color: #1e1e1e; /* Dark card background */
    color: #f0b90b; /* Yellow text color */
}

.btn-black-yellow-theme {
    background-color: #f0b90b; /* Yellow button background */
    color: #000000; /* Black text color */
    border-color: #f0b90b; /* Yellow border color */
}

body.black-yellow-theme .btn-info {
    background-color: #f0b90b; /* Yellow button background */
    color: #000000; /* Black text color */
    border-color: #f0b90b; /* Yellow border color */
}

body.black-yellow-theme .btn-info:hover {
    background-color: #d4a00b; /* Darker yellow button hover background color */
    border-color: #d4a00b; /* Darker yellow border color */
}

.status-box.black-yellow-theme {
    background-color: #1e1e1e; /* Dark status box background */
    color: #f0b90b; /* Yellow text color */
}

.status-badge.black-yellow-theme {
    background-color: #28a745; /* Green badge for "Up" status */
    color: #ffffff; /* White text color */
}

.status-badge.black-yellow-theme.bg-danger {
    background-color: #dc3545; /* Red badge for "Down" status */
    color: #ffffff; /* White text color */
}

body.black-yellow-theme .form-control {
    background-color: #1e1e1e; /* Dark background for form control */
    color: #f0b90b; /* Yellow text color for form control */
    border: 1px solid #f0b90b; /* Yellow border color for form control */
}

body.black-yellow-theme .form-control::placeholder {
    color: #f0b90b; /* Yellow placeholder text color */
}

body.black-yellow-theme .btn-primary {
    background-color: #f0b90b; /* Yellow button background color */
    color: #000000; /* Black text color */
    border-color: #f0b90b; /* Yellow border color */
}

body.black-yellow-theme .btn-primary:hover {
    background-color: #d4a00b; /* Darker yellow button hover background color */
    border-color: #d4a00b; /* Darker yellow border color */
}

/* View modes
body.grid-view .network-card {
    display: inline-block;
    width: 10%;
    margin: 1%;
}

body.list-view .network-card {
    display: block;
    width: 100%;
    margin-bottom: 20px;
} */

.network-card .card {
    border-radius: 8px;
}

.status-box {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ping log styling */
.ping-log-item {
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ping-log-bar {
    width: 5px;
    height: 20px; /* Change height to 20px */
    display: inline-block;
    margin-right: 2px;
    position: relative;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to ping bars */
}
.ping-log-bar.success {
    background-color: #28a745; /* Green for 'Up' status */
}
.ping-log-bar.danger {
    background-color: #dc3545; /* Red for 'Down' status */
}
.ping-log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Adjust height to match ping bar */
    overflow-x: hidden; /* Disable horizontal scrollbar */
    overflow-y: visible; /* Ensure tooltips are visible */
    flex-direction: row-reverse; /* Display ping logs from right to left */
}
.ping-log-bar:hover .tooltip {
    display: block;
}
.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000; /* Ensure tooltip is above other elements */
}
.info-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* Ensure info window is above other elements */
}
.info-window .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    position: fixed; /* Ensure footer is always shown */
    bottom: 0;
    width: 100%;
    background-color: #1c1c2e; /* Match the footer background color */
    color: #f0f4f8; /* Match the footer text color */
}

footer a {
    color: #6c757d;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

button {
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    opacity: 0.9;
}

/* Icons */
.fas {
    color: #6c757d;
}

.fas.fa-circle {
    color: #28a745;
}

.fas.fa-circle-down {
    color: #dc3545;
}

/* Theme toggle button style */
/* #theme-toggle-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
} */

#theme-toggle-btn i {
    font-size: 18px;
}

/* Title Bar */
.title-bar {
    background-color: #343a40; /* Darker background color */
    padding: 10px;
    font-size: 1.5rem; /* Keep font size */
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the title bar spans the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: fixed; /* Dock the title bar on top */
    top: 0;
    left: 0;
    max-width: 100%; /* Set maximum width */
    z-index: 1000; /* Ensure the title bar is above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to the title menu */
}

.title-bar .title {
    flex-grow: 1;
    text-align: center; /* Center the application name */
}

.title-bar .buttons {
    display: flex;
    gap: 10px;
}

.title-bar .buttons .btn {
    background-color: #132433; /* Darker button background color */
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to buttons */
}

.title-bar .buttons .btn:hover {
    background-color: #343a40; /* Darker hover background color */
}

/* Progress bar and status text in the title bar */
.title-bar-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-bar-progress .progress {
    width: 100%;
    height: 20px;
}

.title-bar-progress #init-info {
    text-align: center;
    font-size: 1rem;
    color: #f0f4f8;
}

/* Config button color */
#config-button {
    border: none;
    background-color: #6c757d; /* Config button color */
    color: white;
    cursor: pointer;
}

#config-button:hover {
    background-color: #5a6268; /* Darker shade for hover effect */
}

/* Apply the same color to other buttons */
button.btn-info, button.btn-warning, button.btn-success, button.btn-primary, button.btn-danger {
    background-color: #132433; /* Config button color */
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to buttons */
}

button.btn-info:hover, button.btn-warning:hover, button.btn-success:hover, button.btn-primary:hover, button.btn-danger:hover {
    background-color: #5a6268; /* Darker shade for hover effect */
}

/* Style the status badge to be larger */
.status-badge {
    font-size: 1.2rem;  /* Increase badge size */
    padding: 0.4em 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* Ensure that the grid stays at the top */
#network-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aligns items to the top */
}

.network-card.light-theme {
    background-color: #6c757d;
}

.network-card.black-yellow-theme {
    background-color: #1e1e1e;
}

/* Network Card Layout Changes */
.network-card {
    flex: 1 1 30%; /* Makes sure cards take up 30% of the width (adjust as necessary) */
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: #2d2d44;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #444c6a; /* Match the border style of the text box */
}

.network-card .icon {
    font-size: 2rem;
    margin-right: 10px;
    flex-shrink: 0;
}

network-card .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

network-card .details .name {
    font-size: 1.2rem;
    font-weight: bold;
}

network-card .details .status {
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    text-align: right;
}

.network-card .status-up {
    background-color: green;
    color: white;
    padding: 5px;
}

.network-card .status-down {
    background-color: #dc3545;
    color: white;
    padding: 5px;
}

.card-body {
    font-size: 1rem;
    border-radius: 5px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9rem;
}

.card-header {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Collapse and Accordion Styles */
.accordion-button {
    font-size: 1rem;
    padding: 10px 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #4567b7;
    color: white;
}

.accordion-button:focus {
    border-color: #4567b7;
}

.fas {
    color: #4567b7;
}

#interval-input {
    width: 200px;
    margin: 0 auto;
}

#countdown-timer {
    font-size: 1.2rem;
    color: #6c757d;
}

#config-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#config-button i {
    font-size: 1.5rem;
    color: #6c757d;
}

#interval-config {
    width: 200px;
    margin: 0 auto;
}

#init-progress {
    width: 100%;
    height: 20px;
}

#init-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #6c757d;
    transition: width 0.5s;
}

#init-info {
    text-align: center;
    font-size: 1rem;
    color: #6c757d;
}

/* Hide rename device input fields by default */
input.rename-device-input {
    display: none;
    width: auto; /* Adjust width to fit content */
    max-width: 150px; /* Set a maximum width */
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.toast {
    visibility: hidden;
    min-width: 300px; /* Increase the minimum width */
    max-width: 80%; /* Ensure the toast doesn't exceed 80% of the screen width */
    margin-left: -150px; /* Adjust margin to center the toast */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    word-wrap: break-word; /* Ensure long text wraps within the toast */
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Ensure that the grid stays at the top */
#network-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aligns items to the top */
}

.network-card {
    flex: 1 1 30%; /* Makes sure cards take up 30% of the width (adjust as necessary) */
    margin-bottom: 2px;
}

.network-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure the content starts at the top */
}

.ping-logs .accordion-button {
    text-align: left; /* Align ping log toggle button left */
}

/* Optional: Add margin-top to ping logs if needed */
.ping-logs {
    margin-top: 10px;
}

.ping-log-bar {
    width: 5px;
    height: 20px; /* Change height to 20px */
    display: inline-block;
    margin-right: 2px;
    position: relative;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to ping bars */
}
.ping-log-bar.success {
    background-color: #28a745; /* Green for 'Up' status */
}
.ping-log-bar.danger {
    background-color: #dc3545; /* Red for 'Down' status */
}
.ping-log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Adjust height to match ping bar */
    overflow-x: hidden; /* Disable horizontal scrollbar */
    overflow-y: visible; /* Ensure tooltips are visible */
    flex-direction: row-reverse; /* Display ping logs from right to left */
    margin-top: 5px; /* Move the ping bar a few pixels lower */
}

.info-window {
    display: none;
    position: absolute; /* Change to absolute for repositioning */
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* Ensure info window is above other elements */
}
.info-window .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Ensure all buttons in the title menu have the same size */
.title-bar .buttons .btn,
.title-bar .buttons a.btn {
    padding: 10px 15px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Remove margin and padding from form element */
.title-bar .buttons form {
    margin: 0;
    padding: 0;
    display: inline;
}

.terminal .output {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to the Telnet log */
    background-color: #3a3a55; /* Use the input text color for the background */
    color: #f0f4f8; /* Ensure text color is readable */
    border: 1px solid #444c6a; /* Match the border style of the text box */
    border-radius: 5px; /* Match the border radius of the text box */
    padding: 10px; /* Add padding for better readability */
}

.terminal .input-line {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.terminal .input-line input {
    flex: 1;
    margin-right: 10px;
}

.terminal .input-line button {
    flex-shrink: 0;
}

/* ...existing code... */

.network-card .card-header {
    cursor: default; /* Set cursor to normal */
    background-color: #2d2d44; /* Match the card background color */
    color: #f0f4f8; /* Light text color for dark theme */
    border-bottom: 1px solid #444c6a; /* Border color for header */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.network-card .card-header .network-name,
.network-card .card-header .network-ip,
.network-card .card-header .status-badge,
footer,
footer a,
.network-card .ping-log-info,
.title-bar .title,
.uptime-info,
.status-text,
.time-ago,
.uptime-percentage,
.now {
    font-size: 1rem; /* Set the same font size */
    color: #b0b3c5; /* Set the same font color */
}

.network-card .card-header .network-name {
    font-family: 'Arial', sans-serif; /* Set font family */
    font-weight: bold; /* Make text bold */
}

.network-card .card-header .network-ip {
    margin-left: 10px;

}

.network-card .ping-log-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Adjust height to match ping bar */
    overflow-x: hidden; /* Disable horizontal scrollbar */
    overflow-y: visible; /* Ensure tooltips are visible */
    flex-direction: row-reverse; /* Display ping logs from right to left */
    margin-top: 5px; /* Move the ping bar a few pixels lower */
}

.network-card .ping-log-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    background-color: #2d2d44; /* Match the card background color */
    color: #f0f4f8; /* Light text color for dark theme */
    margin-top: 5px; /* Move the statistics a few pixels lower */
}

/* ...existing code... */

.blockchainfont {
    color: #b0b3c5; /* Set the same font color */
}

/* ...existing code... */

.wifi-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6c757d; /* Adjust color as needed */
}

/* ...existing code... */
button.sshBtn {
    background-color: #6c757d;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button.sshBtn:hover {
    background-color: #5a6268;
}

.terminal .sshOutput {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #3a3a55;
    color: #f0f4f8;
    border: 1px solid #444c6a;
    border-radius: 5px;
    padding: 10px;
}

/* ...existing code... */

#current-datetime {
    color: #6c757d; /* Light text color for dark theme */
}

/* ...existing code... */

.datetime-color {
    color: #6c757d; /* Same color as countdown timer */
}

/* ...existing code... */

.fab.fa-bitcoin {
    color: #f7931a; /* Bitcoin orange color */
}

.fab.fa-ethereum {
    color: #3c3c3d; /* Ethereum gray color */
}

/* ...existing code... */

body.dark-theme .btn-dark-theme {
    background-color: #132433; /* Darker background color */
    border-color: #343a40;
    color: #ffffff;
}

body.dark-theme .btn-custom {
    background-color: #17a2b8; /* Same color as Telnet button */
    border-color: #17a2b8;
    color: #ffffff;
}

body.dark-theme .btn-primary,
body.dark-theme .btn-secondary,
body.dark-theme .btn-success,
body.dark-theme .btn-info,
body.dark-theme .btn-warning,
body.dark-theme .btn-danger {
    background-color: #132433; /* Darker background color */
    border-color: #343a40;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to buttons */
}

body.dark-theme .btn-primary:hover,
body.dark-theme .btn-secondary:hover,
body.dark-theme .btn-success:hover,
body.dark-theme .btn-info:hover,
body.dark-theme .btn-warning:hover,
body.dark-theme .btn-danger:hover {
    background-color: #5a6268; /* Darker shade for hover effect */
}
